/*IMAGE*/
.container-img
{
    width: 100%;
    height: 250px;
    position: relative;
    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/*IMAGE*/

/*MENU*/
.menu
{
    margin-top: -50px;
    background-color: #f1f1f1;
    padding: 30px $margin-content-borders 60px $margin-content-borders;
    border-radius: 50px 50px 0 0 / 40px 40px 0 0;
    position: relative;
    z-index: 1;
    @include tablet-only
    {
        padding: 30px $margin-content-borders-tablet 60px $margin-content-borders-tablet;
    }
    @include desktop-only
    {
        padding: 30px $margin-content-borders-desktop 60px $margin-content-borders-desktop;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__name
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        @include desktop-only
        {
            flex-basis: 100%;
        }
        h2
        {
            font-family: $font-title;
            font-weight: 500;
        }
        i
        {
            font-size: 24px;
            margin-right: $margin-content-borders;
            position: relative;
            cursor: pointer;
            @include tablet-only
            {
                margin-right: $margin-content-borders-tablet;
            }
            @include desktop-only
            {
                margin-right: $margin-content-borders-desktop;
            }
            &::after
            {
                @include heart-after;
            }
            &:hover
            {
                color: rgba(0, 0, 0, 0);
                transition: $transition-short;
            }
            &:hover::after
            {
                opacity: 1;
                transition: $transition-short;
            }
        }
    }
    &__list
    {
        margin: 14px 0 30px 0;
        display: flex;
        flex-direction: column;
        @include desktop-only
        {
            width: 30%;
        }
        &__food-type
        {
            font-weight: 300;
            position: relative;
            margin-bottom: 20px;
            &::after
            {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 40px;
                height: 4px;
                background-color: $color-tertiary;
            }
        }
        &__card:nth-child(2)
        {
            animation: apparition $transition-medium 0s backwards;
        }
        &__card:nth-child(3)
        {
            animation: apparition $transition-medium 0.2s backwards;
        }
        &__card:nth-child(4)
        {
            animation: apparition $transition-medium 0.4s backwards;
        }
        &__card:nth-child(5)
        {
            animation: apparition $transition-medium 0.6s backwards;
        }
        &__card
        {
            margin-top: 10px;
            padding: 10px 20px 10px 10px;
            border-radius: 10px;
            box-shadow: $box-shadow;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: $transition-medium;
            @keyframes apparition
            {
                from
                {
                    opacity: 0;
                    transform: translateY(20px);
                }
                to
                {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            &__check
            {
                position: absolute;
                top: 0;
                right: -50px;
                width: 50px;
                height: 100%;
                border-radius: 0 10px 10px 0;
                background-color: $color-tertiary;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: $transition-medium;
                i
                {
                    color: #fff;
                    transition: $transition-medium;
                }
            }
            &:hover p:nth-child(3), &:hover &__check
            {
                transform: translateX(-50px);
                transition: $transition-medium;
            }
            &:hover &__check i
            {
                transform: rotate(360deg);
                transition: $transition-medium;
            }
            &:hover h4, &:hover p:nth-child(2)
            {
                max-width: calc(100% - 50px);
                transition: $transition-medium;
            }
            &:hover p:nth-child(2)
            {
                max-width: calc(100% - 100px);
                transition: $transition-medium;
            }
            h4
            {
                margin-bottom: 6px;
                flex-basis: 100%;
                max-width: calc(100% - 0px);
                min-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: $transition-medium;
            }
            p:nth-child(2)
            {
                font-weight: 300;
                font-size: 14px;
                max-width: calc(100% - 50px);
                min-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: $transition-medium;
            }
            p:nth-child(3)
            {
                font-weight: 700;
                transition: $transition-medium;
            }
        }
    }
    .button
    {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 30px;
        @include tablet-only
        {
            flex-basis: 100%;
        }
        button
        {
            @include button(16px, 48px);
            &::after
            {
                @include button-after
            }
            &:hover::after
            {
                opacity: 1;
                transition: $transition-short;
            }
        }
    }
}
/*MENU*/