$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$margin-content-borders: 20px;

$transition-short: 0.3s;
$transition-medium: 0.6s;

$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
$box-shadow-plus: 0 2px 10px rgba(0, 0, 0, 0.5);