header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    position: relative;
    a
    {
        position: absolute;
        left: $margin-content-borders;
        text-decoration: none;
        color: initial;
    }
    img
    {
        width: 50%;
        object-fit: cover;
    }
}